ENVIO_BOT_TOKEN= # msg @BotFather to get a token, instructions in README
ENVIO_TELEGRAM_CHANNEL_ID=  # telegram channel id - can be found in the channel settings
ENVIO_TELEGRAM_MESSAGE_THREAD_ID= # only needed if you want to send a message to a specific thread in a tg group
ENVIO_THRESHOLD_WEI=100